body {
  margin: 0;
  padding: 0;

  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #283136;

  background-color: #ffffff;
}
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

header {
  background-color: #eeeeee;
}

.logo-img:hover {
  opacity: 0.6;
}
.logo-img:active {
  opacity: 0.3;
}

.main-navigation {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
  text-transform: uppercase;

  color: #000000;
  background-color: #eeeeee;
}

a {
  text-decoration: none;
}

.main-menu {
  padding: 0px;
  padding-top: 10px;
  margin-right: 80px;
}
.cart {
  padding: 0px;
  padding-top: 10px;
  margin-right: -6px;
}
.main-menu,
.cart {
  list-style: none;
  background-color: #eeeeee;
}

.main-menu a,
.cart a {
  color: #000000;
}

.main-menu a:hover, .cart a:hover {
  color: #fb565a;
}

.main-menu-item.active, .cart.active {
  outline: none;
	box-shadow: 0 5px 0px -1px #eeeeee,
  0 7px 0px -1px #f7898b;
}

.main-menu a:active, .cart a:active {
  color: #a6a6a6;
  outline: none;
/*box-shadow: none;*/
}
.slider-wrapper fieldset {
  width: 160px;
  border: none;
  align-self: flex-end;
}

.slider {
  background-color:#eeeeee;

}
.slider-list {
  width: 400px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.slider, .slider-item {
  min-height: 430px;
}

.slider-item:nth-child(1) {

  background:  url(../img/slide1.png) no-repeat;
  background-size: auto;
  background-position: 432px 8px;
  padding-top: 68px;
}
.slider-item:nth-child(2) {

  background:  url(../img/slide2.png) no-repeat;
  background-size: auto;
  background-position: right;
  display: none;
}
.slider-item:nth-child(3) {

  background:  url(../img/slide3.png) no-repeat;
  background-size: auto;
  background-position: right;
  display: none;
}
.slider-item .slider-item-title {
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  color: #000000;
}
.index-button {

  line-height: 18px;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  //background-color:#fb565a;
  border:none;
}
.slider-item .index-button {
  color: #ffffff;
  background-color:#fb565a;
  padding: 15px 55px;

}

.slider-item .index-button:hover {
  background-color:#e74246;
}

.slider-item .index-button:active {
  color:#e16669;
  background-color:#e74246;
  box-shadow: inset 0 7px 0 0 #d7373b;
}


.adventages .index-button {
  padding: 16px 40px;
}
/*---------------------------------*/
.index-button.red-link {
  color: #ffffff;
  background-color:#fb565a;
}

.index-button.red-link:hover {
  background-color:#e74246;
}

.index-button.red-link:active {
  color:#e16669;
  background-color:#e74246;
  box-shadow: inset 0 7px 0 0 #d7373b;
}
/*----------------------------------------*/
.index-button.green-link {
  color: #ffffff;
  background-color:#00ca74;
}
 .index-button.green-link:hover {
  background-color:#00bc6c;
}

.index-button.green-link:active {
  color:#4dc491;
  background-color:#00aa62;
  box-shadow: inset 0 7px 0 0 #009958;
}
/*------------------------------------------*/

.index-button.yellow-link {
  color: #ffffff;
  background-color:#efc84a;
}
 .index-button.yellow-link:hover {
  background-color:#eab534;
}

.index-button.yellow-link:active {
  color:#edc265;
  background-color:#e5a722;
  box-shadow: inset 0 7px 0 0 #ce961f;
}
/*------------------------------------------*/






.main-menu-item.active, .cart.active {
  outline: none;
	box-shadow: 0 5px 0px -1px #eeeeee,
  0 7px 0px -1px #f7898b;
}

.adventages-list {
  list-style: none;
}

.adventages-item:nth-child(1) {

  background:  url(../img/illustration-1.png) no-repeat;
  background-size:auto;
}
.adventages-item:nth-child(2) {

  background:  url(../img/illustration-2.png) no-repeat;
  background-size:auto;
}
.adventages-item:nth-child(3) {

  background:  url(../img/illustration-3.png) no-repeat;
  background-size:auto;
}

.adventages-item-title {
  margin-bottom: 0px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

p.adventages-item-phrase {
    margin-bottom: 47px;
}


.studio-about-title {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
  color: #000000;

}

.work-types-title, .slogan-title {
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.slogan-table-bold {
  font-size: 45px;
  line-height: 10.06px;
  font-weight: 700;
  color: #000000;
}

.works-list-logo {
    opacity: 0.20;
}

.works-list-logo:hover {
    opacity: 1;
}

.works-list-logo:active {
    opacity: 0.10;
}

.contacts {
  background-color: #ffffff;
}

.contacts-title {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: #000000;
}

.contacts-phrase {
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: #666666;
}

.index-link {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  text-transform: uppercase;

  color: #ffffff;
  background-color:#fb565a;
}


.discount-title {
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  color: black;
}

.discount-phrase {
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #44444;
}

.message-form-title {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
  color:#000000;
}

.message-form-label {
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  color: #000000;
}

.message-form-label input {
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: #a1a1a1;
  border-color: #d7dcde;
  outline: none;
}
.message-form-label input:hover {
  color: #b4b9bb;
}
.footer-social-item {
  display: flex;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e1e1e1;
  width: 80px;
  height: 80px;
  border-radius: 40px;
  margin: 5px;
}
.footer-social-item:hover {
  background-color: #e74246;
}
.footer-social-item:active {

}
/*catalog*/

.catalog-title {
  font-size: 55px;
  line-height: 55px;
  font-weight: 700;
  color: #000000;
}

.filters fieldset {
  border: none;
}
.filters legend {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}
.filters-list {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  list-style: none;
  color: #283136;
}
.filters-item {
  margin: 20px;

}
.filters-item label {
  position: relative;

  display: block;

  cursor: pointer;
  user-select: none;

}

.filter-features-checkbox + label::before {
  content: "";
  position: absolute;
  left: -42px;
  top: 0;
  width: 20px;
  height: 20px;

  border: 2px solid #b8b8b8;
}

.filter-net-radio + label::before {
  content: "";
  position: absolute;
  left: -35px;
  top: -3px;
  width: 18px;
  height: 18px;
  border: 4px solid #b9b9b9;
  border-radius: 50%;
}





.filter-show {
  line-height: 18px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
  background-color:#eeeeee;
  border:none;
  padding: 16px 90px;

}
.filter-show:hover {
  background-color:#dfdfdf;
}
.filter-show:active {
  color:#959595;
  background-color:#d5d5d5;
  box-shadow: inset 0 3px 0px 0px #bfbfbf;
}

.index-button.add-to-cart {

  padding: 16px 40px;
  background-color: #fb565a;

}
.index-button.add-to-cart:hover {
  background-color:#e74246;
}
.index-button.add-to-cart:active {

  background-color:#dd7373b;

}

.gallery-sort-bold {
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}
.gallery-sort-list {
  list-style: none;
}
.gallery-sort-list-item a {
  list-style:none;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  color: #b2b2b2;
}

.gallery-element-hower-title {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: #000000;
}
.gallery-element-hower-description {
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: #666666;
}

.pages {
    list-style: none;
}
.pages-item {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  display:inline-block;
  background-color: #eeeeee;
  text-decoration: none;
}
.pages-item.current {
  display:inline-block;
  background-color: #ffffff;
  border: 1px solid #dbdbdb;
}

.pages-item a {
  color:#000000;
}
.pages-item a:hover,
.pages-item a:focus {
 background-color: #dfdfdf;
}
.pages-item a:active {
  color:#959595;
  background-color:#d5d5d5;
  box-shadow: inset 0 3px 0px 0px #bfbfbf;
}


.gallery-sort-list-item a:hover,
.gallery-sort-list-item a:focus {
  color:#666666;
}
.gallery-sort-list-item a:active {
  color:#000000;
}

label:hover,
label:focus {
  color: #4d4d4d;
}
input:disabled {
  color: #000000;

  opacity: 0.5;
}
/*flex*/











header {
  width: 100%;
  background-color: #eeeeee;
}

.header-wrapper {
  width: 1160px;
  padding: 50px 20px 0;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.logo-img {
  width: 160px;
}
.main-navigation {
  width: 1160px;
  background-color: inherit;
  display: flex;
  justify-content: space-between;

}
.main-navigation-wrapper {
  width: 1160px;
  display: flex;
  justify-content: space-between;
}
.main-menu {
  width: 440px;

  display: flex;
  justify-content: space-between;

}
.cart {
  width: 80px;
}
.invisible {
    display:none;
}

main {
  width: 1160px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;

}

.slider {
  width: 100%;
  background-color: inherit;
  /*display:flex;
  flex-direction: row;
  justify-content: center;
  */
}
.slider-wrapper {
  width: 1160px;
  margin: 0 auto;
  display: flex;
}
.slider-item {
  display: flex;
  width: 1160px;
}
.slider-item-content {
  width: 400px;

}

p.slider-item-phrase {
    margin: 26px 0 53px;

}
/*следующий пункт преииущества*/

.adventages {
  width: 1160px;


}
.adventages-list {
  margin: 0px;
  padding: 0px;
  width: auto;
  min-height: 350px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 3px;
  padding-right: 60px;
}

.adventages-item {
  width:300px;
  padding-top: 146px;
  box-sizing:border-border-box;
}

.about-wrapper {
  width: 1160px;
  margin: 153px 0px 115px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.studio-about {
  width: 660px;
}
.studio-about-phrase {
    margin: 34px 0px 39px 0px;
}
.work-types-list {
    padding-left: 37px;
    margin: 12px 0px;
}
.work-types-element {
    padding: 11px 0px;
}
.slogan {
  margin-top: -30px;
  width: 360px;
}
.works-list {
  list-style: none;
  width: 1160px;
  padding: 50px 20px 0;

}
.works-list, .footer-social-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.works-list-item {
  margin-left: 32px;
  margin-right: 74px;
}
footer {
  width: 100%;
  background-color: #eeeeee;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

}

.footer-bottom-wrapper {
  margin: 0 auto;
  width: 1160px;
  padding: 50px 20px 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}








.map {
  width: 100%;
  height: auto;
}
.footer-social-list, .discont{

  justify-content: flex-start;
}

.main-content-wrapper {
  display: flex;
  justify-content: space-between;
}

.filters {
  width: 260px;
}

.gallery {
  width: 800px;
  display: flex;
  flex-direction: column;

}
.gallery-element {
  width: 360px;
  padding: 35px 20px;
}

.gallery-content-wrapper {
  width: 800px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

}
